body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  min-width: 1100px;
}

footer {
  margin: 20px 80px;
  font-size: 10px;
  position: relative;
  clear: both;
}

footer a {
  text-decoration: none;
  color: #42B3ED;
}

footer a:hover {
  text-decoration: underline;
}

footer nav.nav-links {
  position: absolute;
  right: 0;
  top: -5px;
}

footer p {
  margin-bottom: 10px;
}

.nav-links a {
  padding-left: 5px;
}

.nav-links a:not(:last-child):after {
  background-color: #bbb;
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 0 4px 0 10px;
}

.choose-country {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.choose-country:after {
  content: "";
  display: inline-block;
  background: white url("../images/usa.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}

.banners {
  width: 100%;
  margin: 2px 0;
  overflow: hidden;
}

.banners img {
  width: 25%;
  float: left;
  padding: 0 1px;
  box-sizing: border-box;
}

.h-list li {
  display: inline-block;
}

.main {
  background: url("../images/your_verse_hero.jpg") 50% 100% / 1440px 1315px no-repeat;
  background-size: 130%;
  width: 100%;
  height: 600px;
}

.main .headings {
  color: white;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding-top: 200px;
}

.main h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.main h3 {
  font-size: 35px;
  margin-bottom: 60px;
}

.main h4 {
  font-size: 30px;
}

header {
  position: absolute;
  width: 100%;
}

.menu {
  margin: 20px auto;
  width: 1000px;
  height: 50px;
  display: flex;
}

.menu li:hover {
  background: linear-gradient(to bottom, rgba(99,99,99,1) 0%, rgba(117,117,117,1) 12%, rgba(133,133,133,1) 25%, rgba(94,94,94,1) 39%, rgba(56,56,56,1) 50%, rgba(0,0,0,1) 51%, rgba(23,23,23,1) 60%, rgba(56,56,56,1) 76%, rgba(36,36,36,1) 91%, rgba(23,23,23,1) 100%);
}

.menu li:not(:last-child) {
  border-right: 1px solid #aaa;
}

.menu li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #555;
}

.menu li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #555;
}

.menu li {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background: linear-gradient(to bottom, rgba(120,120,120,1) 0%, rgba(140,140,140,1) 12%, rgba(161,161,161,1) 25%, rgba(112,112,112,1) 39%, rgba(69,69,69,1) 50%, rgba(0,0,0,1) 51%, rgba(28,28,28,1) 60%, rgba(69,69,69,1) 76%, rgba(43,43,43,1) 91%, rgba(28,28,28,1) 100%);
  width: 100%;
  height: 100%;
  line-height: 47px;
}

.menu a {
  text-decoration: none;
  color: #eee;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.menu input[type="text"] {
  width: 80%;
  margin: 0 10%;
  padding: 0 10%;
  height: 20px;
  box-sizing: border-box;
  border: none;
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  background: #aaa url("../images/glass.svg") 5px 50% / 13px 11`px no-repeat;
  border-radius: 10px;
}

.menu input[type="text"]:focus {
  background-color: #fff;
  background-image: none;
  outline: none;
}

.menu .logo a:before {
  content: "";
  background: url("../images/globalnav_text.svg") 50% 10px no-repeat;
  height: 40px;
  width: 100%;
  display: inline-block;
}

.menu .logo span {
  display: none;
}
